.idea/
logs/
*.iml
target/achive-tmp/*
target/classes/*
target/generated-sources/*
target/maven-archiver/*
target/logs/*
.project
.classpath
.settings/
.studio/
.metadata
tickets/
comprobantesGenericos/
.rotonda/
*.ipr
*.iws
*.pdf
out/

