.idea/
logs/
*.iml
target/achive-tmp/*
target/classes/*
target/generated-sources/*
target/maven-archiver/*
target/logs/*
target/gestor-impresiones-1.0-SNAPSHOT.jar
!target/gestor-impresiones-1.0-SNAPSHOT-jar-with-dependencies.jar
.project
.classpath
.settings/
.studio/
.metadata
tickets/
comprobantesGenericos/
.rotonda/
*.ipr
*.iws
*.pdf
out/

